<!DOCTYPE html>

<html dir="rtl">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/kamadatepicker.min.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
   
    <script src="~/jquery/jquery.min.js"></script>
    <script src="~/js/kamadatepicker.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>
